extends ./layout.jade

block head

block body
    div.welcome
        h1 Prismic Simple API
        p Retrieve Prismic documents with this API
    div.request-form
        form(name="torepo", id="form-torepo", action="/torepo")
            div.input
                label(for="repository") Repository
                input(type="text", name="repository", required="true")
            div.actions
              input(type="submit", value="Submit")
