doctype html(lang='en')

head
  title Prismic Simple API
  link(rel="stylesheet", href="/stylesheets/reset.css")
  link(rel="stylesheet", href="/stylesheets/style.css")
  link(rel="stylesheet", href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css")
  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/default.min.css")
  link(href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700,300", rel="stylesheet", type="text/css")

  meta(name="viewport", content="width=device-width, initial-scale=1")

  // Required for Previews and Experiments
  script(src="//code.jquery.com/jquery-1.11.3.min.js")
  script(src="//code.jquery.com/ui/1.11.3/jquery-ui.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js")
  script(src="/javascript/simple-api.js")

  block head

body
  block body
