extends ./layout.jade

block head
  script(type='text/javascript').
    window.repo_types = !{JSON.stringify(types)};
    window.repo_bookmarks = !{JSON.stringify(bookmarks)};

block body
  div.welcome
    h1 Simple API for #{domain}

  section.clear(id="content")
    div.request-form
      h2 One document by uid
      form(name="request-api", id="form-request", action="/types")
        div.form-as-url
          | /types/
          input(type="text", name="document-type", required="true", placeholder="type")
          | /
          input(type="text", name="uid", required="true", placeholder="uid")
          input(type="submit", value="Submit")
      h2 Documents by type
      p TODO with autocomplete on type
      h2 Documents by id
      p TODO with autocomplete on bookmarks

    div.result
      div(id="api-call")
      pre
        code.json(id="result")
