extends ./layout.jade

block body
    div.welcome
        h1 Simple API for #{domain}
        p Retrieve Prismic documents with this API

    div.request-form
        h2 One document by uid
        form(name="request-api", id="form-request", action="/types")
            div.input
                label(for="document-type") Document type
                input(type="text", name="document-type", required="true")
            div.input
                label(for="uid") UID
                input(type="text", name="uid", required="true")
            div.actions
                input(type="submit", value="Submit")
        h2 Documents by type
        p TODO with autocomplete on type
        h2 Documents by id
        p TODO with autocomplete on bookmarks

    div(id="api-call")
    div.result
        textarea(id="result")
