extends ./layout.jade

block head
  script(type='text/javascript').
    window.repo_types = !{JSON.stringify(types)};
    window.repo_bookmarks = !{JSON.stringify(bookmarks)};

block body
  div.welcome
    h1 Simple API for #{domain}

  section.clear(id="content")
    div.request-form

      h2 Documents by type
      form(name="request-api", id="form-request", action="/types")
        div.form-as-url
          | /types/
          input(type="text", name="document-type", required="true", placeholder="type")
          | /
          input(type="text", name="uid", placeholder="uid (optional)")
          input(type="submit", value="Submit")

      h2 Documents by id
      form(name="request-api", id="form-request-3", action="/documents")
        div.form-as-url
          | /documents/
          input(type="text", name="docid", id="docid", required="true", placeholder="id")
          input(type="submit", value="Submit")

      h2 Bookmarks
      form(name="request-api", id="form-request-2", action="/bookmarks")
        div.form-as-url
          | /documents/
          input(type="text", name="name", id="name", required="true", placeholder="name")
          input(type="submit", value="Submit")

    div.result
      div(id="api-call")
      pre
        code.json(id="result")
