html {
    font-size: 100%;
}

body {
    background: #474f5f;
    color: #FFF;
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 1em;
}

a {
    color: #FDBD58;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: 700;
    font-size: 3.4rem;
    margin-bottom: 1.25rem;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1.25rem;
}

label {
  display: inline-block;
  padding: 10px;
  margin-bottom: 3px;
  width: 150px;
}

.welcome {
    text-align: center;
    margin: auto;
    font-size: 1.25rem;
}

.welcome .star {
    width: 14.875rem;
    margin-bottom: 2rem;
}

.welcome p, .welcome a {
    letter-spacing: 0.8;
    line-height: 2rem;
}

.request-form {
    width: 900px;
    margin: auto;
    padding-top: 20px;
    position: relative;
    overflow: hidden;
}

.request-form form input {
  position: relative;
  margin-bottom: 10px;
  background: #fff;
  font-size: 16px;
  padding: 10px 10px;
  outline: none;

  border: 1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	-webkit-appearance: none;
}

.request-form .actions {
  text-align: center;
}

.result {
  width: 900px;
  margin: auto;
  padding-top: 20px;
  position: relative;
  overflow: hidden;
}

.result textarea{
  width: 100%;
  height: 200px;
}
