html {
    font-size: 100%;
}

body {
    font-family: Roboto Mono, sans-serif;
    font-weight: 400;
    font-size: 1em;
}

a {
    color: #FDBD58;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2rem;
    padding: 1rem;
    background: #4679bd;
    color: #FFF;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.25rem;
}

label {
  display: inline-block;
  padding: 10px;
  margin-bottom: 3px;
  width: 150px;
}

section {
  width: 100%;
  padding: 0px;
}

#api-call{
  padding:10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.welcome {
  text-align: center;
  margin: auto;
  font-size: 1.25rem;
  border-bottom: 1px solid white;
}

.welcome p, .welcome a {
  letter-spacing: 0.8;
  line-height: 2rem;
}

#content {
  display: table;
  table-layout: fixed;
}

.request-form, .result {
  display: table-cell;
  width: 50%;
}

.request-form form input, .homepage-form form input[type="submit"] {
  position: relative;
  margin-bottom: 10px;
  background: #fff;
  font-size: 16px;
  padding: 10px 10px;
  outline: none;

  border: 1px solid #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-appearance: none;
}

.request-form .actions {
  text-align: center;
}

.result {
  border-left: 1px solid white;
  padding-left:2px;
  padding-top:2px;
  overflow-x: scroll;
  height: 87%;
}

.result textarea{
  width: 100%;
  min-height: 90%;
}

.homepage-form {
  padding-top: 100px;
  font-size: 2.5rem;
  text-align: center;
}

.homepage-form form input {
  text-align: center;
  width: 220px;
  font-size: 2.5rem;
  position: relative;
  margin-bottom: 10px;
  outline: none;
  border: 0;

	-webkit-appearance: none;
}

.homepage-form form input[type="submit"] {
  margin-left: 50px;
  width: auto;
  color: black;
}
